* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html,
 body {
      color: white;
      background-color: #1b1b32;
      font-family: Lato, sans-serif;
      margin-top: 40px;
 }
 
 h1{
    color: #1b1b32;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin: 20px 0;
 }

.app-Tareas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Estilos para el contendor de tareas*/
.tareas-lista-principal{
    width: 565px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
}

@media (max-width: 275px) {
    .tareas-lista-principal{
        width: 195px;
    }   
}

@media (max-width: 400x) {
    .tareas-lista-principal{
        width: 200px;
    }   
}